h2,
h3,
h4,
h5,
h6,
p {
  color: #603210;
}

h1 {
  font-size: 64px;
  color: #564d4d;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

body {
  background-image: url(/img/background.png);
}

.container {
  padding: 0 40px;
  position: relative;
}

nav div {
  width: 6.9vw;
  height: 6.9vw;
  position: fixed;
  right: 43px;
  top: 86px;
  border: 2px solid #ffd3ce;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 99;
}

main .banner {
  width: 100%;
  height: 100vh;
  background-color: aqua;
}

main .firstSection {
  position: relative;
}

main .firstSection .powder {
  width: 56.5vw;
  max-width: 1084px;
  position: absolute;
  right: 0;
  top: 0;
}

main .firstSection .container {
  position: relative;
}

main .firstSection .container span {
  position: absolute;
  top: 50%;
  left: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 9.63vw;
  font-size: 48px;
  word-spacing: 6px;
}

main .firstSection .container span::before, main .firstSection .container span::after {
  content: "";
  width: 4px;
  height: 100vh;
  background-color: #564d4d;
  position: absolute;
  top: -340%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .firstSection .container span::after {
  top: unset;
  bottom: -340%;
}

main .firstSection .container .logo {
  margin-top: 74px;
  width: 9.6vw;
  max-width: 184px;
}

main .firstSection .container .interduce {
  width: 100%;
  max-width: 1920px;
  color: #000;
}

main .firstSection .container .interduce h1 {
  margin-top: -40px;
  margin-left: 241px;
}

main .firstSection .container .interduce h1:nth-child(2) {
  margin-top: 17.3%;
  margin-left: unset;
  text-align: center;
  color: #564d4d;
}

main .firstSection .container .interduce .context {
  height: 629px;
  position: relative;
  margin-top: 175px;
  margin-left: 166px;
}

main .firstSection .container .interduce .context img {
  width: 36vw;
  max-width: 692px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

main .firstSection .container .interduce .context .textBackground {
  width: 44.3vw;
  max-width: 850px;
  height: 490px;
  position: absolute;
  top: 139px;
  left: 36%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .firstSection .container .interduce .context .textBackground p {
  width: 30vw;
  font-size: 14px;
  font-family: Roboto;
  line-height: 20px;
  letter-spacing: 1px;
  color: #603210;
}

main .firstSection .container .interduce .context .textBackground .text-group {
  padding: 0 2%;
}

main .firstSection .container .interduce .context .textBackground .text-group p {
  width: 100%;
  height: 130px;
  letter-spacing: 0.4px;
  margin-top: 30px;
}

main .firstSection .container .interduce .context .textBackground .text-group ul {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .firstSection .container .interduce .context .textBackground .text-group ul li:nth-child(2) {
  margin: 0 17px;
}

main .firstSection .container .interduce .context h5 {
  position: absolute;
  top: 100px;
  right: 17.5%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 5px;
}

main .firstSection .container .interduce .context:nth-child(4) {
  margin-left: unset;
  right: 0;
}

main .firstSection .container .interduce .context:nth-child(4) img {
  left: unset;
  right: 0;
}

main .firstSection .container .interduce .context:nth-child(4) .textBackground {
  left: unset;
  right: 36%;
}

main .firstSection .container .interduce .context:nth-child(4) h5 {
  top: 86px;
  right: unset;
  left: 22.5%;
}

main .firstSection .container .interduce .context:nth-child(5) h5 {
  top: 113px;
}

main .secondSection-group .secondSection {
  margin: 6% 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .secondSection-group .secondSection h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 2;
}

main .secondSection-group .secondSection .container .background {
  position: relative;
  width: 95.5vw;
  max-width: 1834px;
  height: 45vw;
  max-height: 863px;
  background-color: #fff6e1;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .secondSection-group .secondSection .container .background div:nth-child(1) {
  height: 31vw;
  max-height: 595px;
}

main .secondSection-group .secondSection .container .background div:nth-child(1) .text {
  margin-left: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .secondSection-group .secondSection .container .background div:nth-child(1) .text .date {
  margin: 80px 0 60px;
  padding-left: 30px;
  border-left: 10px solid #ffd3ce;
  border-radius: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .secondSection-group .secondSection .container .background div:nth-child(1) .text .date span {
  width: 24px;
  border: 1px solid #603210;
  margin: 0 13px;
}

main .secondSection-group .secondSection .container .background div:nth-child(1) .text a {
  margin-top: 43px;
  margin-left: auto;
}

main .secondSection-group .secondSection .container .background div:nth-child(1) .text a span {
  margin-right: 14px;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 928px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 6.9vw;
  margin-left: 3.9vw;
  border-radius: 50px;
  position: relative;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) img {
  width: 48.3vw;
  max-width: 927px;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) .hashTag {
  margin-left: unset;
  margin-right: unset;
  position: absolute;
  bottom: 2.5vw;
  left: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) .hashTag a {
  width: 76px;
  height: 27px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #823d08;
  border: 2px solid #823d08;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) .hashTag a span {
  color: #fff;
  font-size: 12px;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) .hashTag a:nth-child(1) {
  margin-left: unset;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) .hashTag a:hover {
  background-color: #fff;
}

main .secondSection-group .secondSection .container .background div:nth-child(2) .hashTag a:hover span {
  color: #823d08;
}

main .secondSection-group .secondSection-swiper {
  margin-bottom: 111px;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide {
  width: auto !important;
  background-color: #fff6e1;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo {
  position: relative;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo .hashTag {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo .hashTag a {
  width: 76px;
  height: 27px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #823d08;
  border: 2px solid #823d08;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo .hashTag a span {
  color: #fff;
  font-size: 12px;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo .hashTag a:nth-child(1) {
  margin-left: unset;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo .hashTag a:hover {
  background-color: #fff;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .photo .hashTag a:hover span {
  color: #823d08;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .text {
  padding: 24px 20px;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .text h6 {
  margin-bottom: 10px;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .text span {
  font-size: 14px;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .text p {
  width: 548px;
  margin: 10px 0 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .text a {
  margin-left: calc(100% - 134px);
}

main .secondSection-group .secondSection-swiper .mySwiper .swiper-wrapper .swiper-slide .text a span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 14px;
  color: #603210;
}

main .thirdSection {
  margin-top: 65px;
}

main .thirdSection .container {
  position: relative;
}

main .thirdSection .container h1 {
  text-align: center;
  margin-bottom: 48px;
}

main .thirdSection .container ul {
  position: absolute;
  top: 0;
  left: 90px;
  background-color: #feb768;
  padding: 37px 80px;
}

main .thirdSection .container ul a {
  background-color: #fff6e1;
}

main .thirdSection .container ul a li {
  font-size: 36px;
  color: #823d08;
  font-weight: bolder;
}

main .thirdSection .container .background {
  width: 1834px;
  height: 754px;
  border-radius: 30px;
  border: 5px solid #feb768;
  background-color: #fff;
}
/*# sourceMappingURL=backery.css.map */