* {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

input {
    border: none;
}
input[type="file" i] {
    outline: none;
}
inpuut:focus,textarea:focus {
    outline: none;
}

textarea{
    border: none;
    border: 1px solid #757575;
    font-size: 14px;
}
